/* build time:Tue Sep 15 2020 10:25:38 GMT+0800 (GMT+08:00)*/
.tip{position:fixed;background:var(--grey-9-a5);color:#fff;top:50%;left:50%;z-index:$zindex-5;padding:10px;border-radius:10px;transform:translate(-50%,-50%);text-align:center;animation:fadeIn .5s}
/* rebuild by hrmmi */