/* build time:Tue Sep 08 2020 22:57:24 GMT+0800 (中国标准时间)*/
.copy-btn{color:var(--grey-5);cursor:pointer;position:absolute;padding:2px 6px;right:2px;top:6px;font-size:$font-size-smaller}.copy-btn:hover{color:var(--grey-7)}
/* rebuild by hrmmi */