/* build time:Tue Sep 08 2020 22:59:23 GMT+0800 (中国标准时间)*/
.copyright ul{background:var(--grey-1);padding:.5em 2em;position:relative;font-size:$font-size-smallest}.copyright ul::before{content:"";position:absolute;width:5px;height:100%;left:-5px;top:0;background:var(--primary-color);border-radius:6px}
/* rebuild by hrmmi */