/* build time:Tue Sep 08 2020 22:03:41 GMT+0800 (中国标准时间)*/
.widgets{border-top:1px solid var(--grey-2);margin-top:15px;text-align:center}.widgets .header{position:relative;padding-left:10px}.widgets .header::before{content:"";position:absolute;width:5px;height:2em;left:-5px;background:var(--primary-color);border-radius:6px}
/* rebuild by hrmmi */